*{
    padding: 0;
    margin: 0;
}
body{
    font-family:'Courier New', Courier, monospace;
    background-color: rgba(216, 199, 104, 0.911);
    color: rgb(54, 15, 15);
}
.container{
    width: auto;
    display: flex;
}
.grocery{
    width: 600px;
    min-height:100vh;
    margin:auto;
    background-color:rgb(204, 204, 204);
    box-shadow: 10px 10px 34px 0 rgba(0,0,0,0.5);
}
.grocery h1{
    font-size: 2.5rem;
    margin:auto;
    margin-top: 1em;
}
.grocery i{
    font-size:2rem;
    color: rgb(123, 124, 50);
}
.grocery input{
    font-family: inherit;
    outline: 0;
    border: none;
    border-bottom: 3px solid black;
    width: 70%;
    font-size: 1.5rem;
    background-color:transparent;
}
#allItems p{
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 15px;
    font-size: 2rem;
}
@media(max-width:480px){
    .grocery h1{
        font-size: 2rem;
    }
    .grocery i{
        font-size: 1.5rem;
    }
    .grocery input{
        font-size: 1rem;
    }
    #allItems h2{
        margin-left: 25px;
        font-size: 2rem;
    }
}